<%# Content Heading %>
<% if (title) { %>
<h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>

<%- messages() %>

<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>

<h2>Welcome <%= locals.account_firstname %>!</h2>
<div id="accManagement">
  <p>You're logged in.</p>
  <a href="/account/edit/<%= locals.account_id %>" id="editAccount">Edit Account Information</a>
</div>

<% if (locals.account_type !== "Client") { %>
  <section id="invManagement">
    <h3>Inventory Management</h3>
    <p><a href="/inv">Manage Inventory</a></p>
  </section>
<% } %>

<div id="comments-section">
  <%- comments %>
</div>