<% if (title) { %>
<h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>

<%- messages() %>

<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>

<form action="/inv/delete" method="post" id="deleteForm">
    <label for="inv_make">Make: </label>
    <input type="text" name="inv_make" id="inv_make" required value="<%= locals.inv_make %>" readonly><br>
    <label for="inv_model">Model: </label>
    <input type="text" name="inv_model" id="inv_model" required value="<%= locals.inv_model %>" readonly><br>
    <label for="inv_year">Year: </label>
    <input type="number" name="inv_year" id="inv_year" required min="1886" max="2025" value="<%= locals.inv_year %>" readonly><br>
    <label for="inv_price">Price: </label>
    <input type="number" name="inv_price" id="inv_price" value="<%= locals.inv_price %>" readonly><br>
    <input type="submit" value="Delete Vehicle">
    <input type="hidden" name="inv_id"
    <% if(locals.inv_id) { %> value="<%= locals.inv_id %>"
    <% } %>>
</form>